<template>
  <div>
    <h1 v-if="event">{{event.name.fr}}</h1>
    <img v-if="loading" src="../assets/loader.gif" class="loader" />
    <masonry
      :cols="nbColumns"
      :gutter="10">
      <div 
        v-if="event"
        class="event-data-card"
        v-html="event.desc.fr">
      </div>
      <div 
        v-if="event"
        class="event-data-card">
        <h3>Prochain rendez-vous</h3>
        <p>{{closestDate.toLocaleString()}}</p>
        <p>{{address}}</p>
        <iframe width="400" height="300" id="gmap_canvas" :src="`https://maps.google.com/maps?q=${encodeURIComponent(address)}&t=&z=15&ie=UTF8&iwloc=&output=embed`" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
      <div
        v-show="event"
        class="event-data-card qr-card">
        <h3>Emportez ces informations !</h3>
        <canvas id="qr-canvas"></canvas>
        <p>{{qrurl}}</p>
      </div>
      <resource-card v-for="resource in resourcesArray" :key="resource._id" :resource="resource"></resource-card>  
    </masonry>
  </div>
</template>

<script>
import ResourceCard from './ResourceCard.vue'
import { getClosestUpcomingDate } from '../helpers/helper.js'
import QRCode from 'qrcode'

export default {
  components: {
    ResourceCard
  },
  props: ['resourcesArray', 'loading', 'event'],
  data () {
    return {
      qrurl: ''
    }
  },
  watch: {
    event () {
      if (this.event) {
        var canvas = document.getElementById('qr-canvas')
        this.qrurl = `${window.location.protocol}//${window.location.host}/d/qr/${this.event._id}`
        QRCode.toCanvas(canvas, this.qrurl, function (error) {
          if (error) console.error(error)
        })
      }
    }
  },
  computed: {
    nbColumns () {
      return Math.floor(window.innerWidth / 400)
    },
    closestDate () {
      return getClosestUpcomingDate(this.event.occurences.map(occurence => new Date(occurence.startdate)), new Date())
    },
    closestOccurence () {
      return this.event.occurences.find(occurence => (new Date(occurence.startdate)).getTime() === this.closestDate.getTime())
    },
    address () {
      if (this.closestOccurence.place && this.closestOccurence.place.address) {
        return this.closestOccurence.place.address
      } else {
        return ''
      }
    }
  }
}
</script>

<style scoped>
.loader {
  width: 100px;
}


.event-data-card {
  border-radius: 6px;
  background-color: white;
  margin-bottom: 10px;
  padding: 20px;
  text-align: left;
}

.event-data-card iframe {
  width: 100%;
}

.qr-card {
  text-align: center;
}

.qr-card h3 {
  text-align: left;
}
</style>