
<template>
  <div
    :clickable="resource.url != undefined"
    @click="followLink"
    outlined
    rounded
    class="resource-card">
    <img v-if="resource.resourcetype === 'image' && resource.fileurl" :src="resource.fileurl"/>
    <div v-else-if="resource.resourcetype === 'video' && resource.fileurl">
      <video
        controls
        :src="resource.fileurl"
        class="resource-card-video">
      </video>
    </div>
    <div v-else-if="resource.resourcetype === 'audio' && resource.fileurl">
      <audio
        controls
        :src="resource.fileurl"
        class="resource-card-audio">
      </audio>
    </div>
    <div v-else-if="resource.resourcetype === 'externalwidget' && resource.iframe" v-html="resource.iframe">
    </div>
    <div v-else-if="resource.resourcetype === 'url'">
      <img v-if="resource.urlimage" :src="resource.urlimage"/>
    </div>
    <h3 class="card-name" v-if="resource.name">
      {{ resource.name }}
    </h3>
    <h4 class="card-url-title" v-if="resource.resourcetype === 'url' && resource.urltitle">
      {{ resource.urltitle }}
    </h4>
    <a class="card-url" v-if="resource.resourcetype === 'url' && resource.url" :href="resource.url">
      {{ resource.url }}
    </a>
    <div class="card-description" v-html="resource.description">
    </div>
  </div>
</template>

<script lang="ts">

export default {
  props: ['resource'],
  methods: {
    followLink() {
      if (this.resource.url) {
        const win = window.open(this.resource.url, '_blank')
        win.focus()
      }
    }
  }
}
</script>

<style scoped>
img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: -1px;
}

.resource-card {
  border-radius: 6px;
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 1px;
  text-align: left;
}

.card-name {
  padding-left: 20px;
  padding-right: 20px;
}

.card-url {
  padding-left: 20px;
  padding-right: 20px;
  color: #2c3e50;
  display: inline-block;
}

.card-url-title {
  padding-left: 20px;
  padding-right: 20px;
}

.card-description {
  padding: 20px;
}

iframe {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: -1px;
}

.resource-card-video {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: -1px;
}

.resource-card-audio {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: -1px;
}
</style>