<template>
  <div class="event-timeline">
    <event-tile v-for="ev of events" :key="ev._id" :eventObj="ev" :lastFocusedIndex="false" @focused="focus"></event-tile>
  </div>
</template>

<script>
import EventTile from './EventTile.vue'
export default {
  components: { EventTile },
  props: ['events', 'loading'],
  methods: {
    focus(ev) {
      this.events.map(e => {
        e.focused = false
      })
      ev.focused = true
      this.$emit('focused', ev)
    }
  }
}
</script>

<style>
</style>