<template>
  <v-app>
          <v-app-bar flat dense app collapse :hidden="drawer">
            <v-app-bar-nav-icon @click="drawer = true" bottom></v-app-bar-nav-icon>
          </v-app-bar>
          <v-navigation-drawer
            app
            v-model="drawer"
            class="indigo darken-4 white--text">
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="text-h6 white--text">
                  Kronikle
                </v-list-item-title>
                <v-list-item-subtitle class="white--text">
                  {{`${$t('hello')} ${$store.state.user.username}`}}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item v-if="$store.state.auth.connected">
              <v-btn color="secondary black--text" block @click="$router.push('/new-event')">{{$t('create-event')}}</v-btn>
            </v-list-item>
            <v-divider></v-divider>
            <v-list v-if="$store.state.auth.connected" >
              <v-list-item @click="$router.push('/')">
                <v-list-item-icon>
                  <v-icon class="white--text">mdi-calendar-month</v-icon>
                </v-list-item-icon>
                <v-list-item-content class="white--text">
                  <v-list-item-title>{{$t('home')}}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="$router.push('/my-events')">
                <v-list-item-icon>
                  <v-icon class="white--text">mdi-calendar-account</v-icon>
                </v-list-item-icon>
                <v-list-item-content class="white--text">
                  <v-list-item-title>{{$t('my-events')}}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="$router.push('/display')">
                <v-list-item-icon>
                  <v-icon class="white--text">mdi-tablet-cellphone</v-icon>
                </v-list-item-icon>
                <v-list-item-content class="white--text">
                  <v-list-item-title>{{$t('displays')}}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="$router.push('/places')">
                <v-list-item-icon>
                  <v-icon class="white--text">mdi-map-marker</v-icon>
                </v-list-item-icon>
                <v-list-item-content class="white--text">
                  <v-list-item-title>{{$t('places')}}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="$store.dispatch('logout', _self)">
                <v-list-item-icon>
                  <v-icon class="white--text">mdi-logout</v-icon>
                </v-list-item-icon>
                <v-list-item-content class="white--text">
                  <v-list-item-title>{{$t('logout')}}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
            <v-list v-else >
              <v-list-item class="white--text" @click="$router.push('/login')">
                <v-list-item-icon class="white--text">
                  <v-icon class="white--text">mdi-login</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>{{$t('login')}}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item class="white--text" @click="$router.push('/register')">
                <v-list-item-icon class="white--text">
                  <v-icon class="white--text">mdi-account-plus</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>{{$t('register')}}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-navigation-drawer>
          <router-view/>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data () {
    return {
      drawer: false
    }
  }
})
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
