<template>
  <div id="app" class="section group">
    <div class="col span_9_of_12 left-panel">
      <content-grid :resourcesArray="focusedresources" :loading="resourcesloading" :event="focusevent"></content-grid>
    </div>
    <time-line
      :events="eventslist"
      @focused="focusedevent"
      class="col span_3_of_12 right-panel"></time-line>
  </div>
</template>

<script>
import Vue from 'vue'
import TimeLine from './components/TimeLine.vue'
import ContentGrid from './components/ContentGrid.vue'

export default {
  name: 'App',
  components: {
    TimeLine,
    ContentGrid
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      display: null,
      eventslist: [],
      resourcesloading: false,
      focusedresources: [],
      focusevent: null,
      userkey: null,
    }
  },
  computed: {
    displayname () {
      return this.display?.name
    }
  },
  async mounted () {
    let displayid = window.location.pathname.match(/dis\/(display:display[a-zA-Z0-9]+)/)[1]
    let userkey = window.location.pathname.match(/d\/([^\/]+)\//)[1]
    this.userkey = userkey
    console.log(displayid, userkey)
    if (displayid && userkey) {
      // change API base url if in development mode
      let baseurl = ''
      if (Vue.config.devtools) {
        baseurl = 'http://localhost:3000'
      }
      // Get the display and the list of events
      this.display = await (await fetch(`${baseurl}/api/${userkey}/display/${displayid}`)).json()
      this.eventslist = await (await fetch(`${baseurl}/api/${userkey}/display/${displayid}/all-events`)).json()
      
    }
  },
  methods: {
    async focusedevent (ev) {
      // change API base url if in development mode
      let baseurl = ''
      if (Vue.config.devtools) {
        baseurl = 'http://localhost:3000'
      }
      this.resourcesloading = true
      this.focusedresources = []
      try {
        this.focusedresources = await (await fetch(`${baseurl}/api/${this.userkey}/event/${ev._id}/resources`)).json()
      } catch (e) {
        console.error(e)
      }
      this.resourcesloading = false

      this.focusevent = ev
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
}

.left-panel {
  background-color: #e8e8e8;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
}

.right-panel {
  height: 100vh;
  overflow-y: auto;
  margin-left: -20px;
}

/**
Responsive Grid
*/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	/*margin: 0% 0 0% 0%;*/
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.66%;
}
.span_10_of_12 {
  	width: 83.33%;
}

.span_9_of_12 {
  	width: 75%;
}

.span_8_of_12 {
  	width: 66.66%;
}

.span_7_of_12 {
  	width: 58.33%;
}

.span_6_of_12 {
  	width: 50%;
}

.span_5_of_12 {
  	width: 41.66%;
}

.span_4_of_12 {
  	width: 33.33%;
}

.span_3_of_12 {
  	width: 25%;
}

.span_2_of_12 {
  	width: 16.66%;
}

.span_1_of_12 {
  	width: 8.333%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}
</style>
