{% layout "htmlframe.liquid" %}
{% block content %}
<div class="event-sheet">
  <div class="event-header">
    <div class="event-header-data">
      <h1>{{ event.name.fr }}</h1>
      <p>{{ event.shortdesc.fr }}</p>
      <p>{{ event.render.closestdate | date: "%d/%m/%Y %H:%M"}}</p>
    </div>
  <img src="{{event.imageurl}}"/>
  </div>
  <div class="event-desc-container">
    <div class="event-desc">{{ event.desc.fr }}</div>
    <h2>Toutes les dates</h2>
    <div class="occurence-row">
      <div class="occurence-date"><h3>Date</h3></div>
      <div class="occurence-place"><h3>Lieu</h3></div>
    </div>
    {% for occ in event.occurences %}
      <div class="occurence-row">
        <div class="occurence-date">
          <p>{{ occ.startdate | date: "%d/%m/%Y %H:%M" }}</p>
        </div>
        <div class="occurence-place">
        {% if occ.place and occ.place.name %}
          <p>{{ occ.place.name }}</p>
        {% endif %}
        {% if occ.place and occ.place.latitude and occ.place.longitude %}
        {% assign placequery = occ.place.latitude | append: "," | append: occ.place.longitude | url_encode %}
          <a href="https://maps.google.com/maps?q={{placequery}}">Voir sur Google Maps</a>
        {% endif %}
        </div>
      </div>
    {% endfor %}
    <h2>Contenus  en lien</h2>
    <div class="ressource-container">
    {% for res in event.render.resources %}
      {% render 'resourcecard.liquid', res: res %}
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}