{% layout "htmlframe.liquid" %}
{% block content %}
<div class="events-list">
<h1>{{ title }}</h1>
<p>{{ description }}</p>
  {% for event in events %}
    <div>
      <a href="{{ event.render.url }}"  class="event">
        <div class="event-left">
          <h3>{{ event.name.fr }}</h3>
          <p>{{ event.render.closestdate | date: "%d/%m/%Y %H:%M" }}</p>
        </div>
        <div class="event-right">
          <img src="{{event.imageurl}}"/>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}