<div class="resource-card">
  {% if res.resourcetype == 'url' %}
  <a href="{{res.url}}">
  {% endif %}
  <div class="resource-media-container">
    {% if res.resourcetype == 'image' and res.publicurl%}
    <img src="{{res.publicurl}}"/>
    {% elsif res.resourcetype == 'video' and res.publicurl%}
    <video
      controls
      src="{{res.publicurl}}"
      class="resource-card-video">
    </video>
    {% elsif res.resourcetype == 'audio' and res.publicurl%}
    <audio
      controls
      src="{{res.publicurl}}"
      class="resource-card-audio">
    </audio>
    {% elsif res.resourcetype == 'externalwidget' and res.iframe%}
    {{res.iframe}}
    {% elsif res.resourcetype == 'url' and res.urlimage %}
    <img src="{{res.urlimage}}" />
    {% endif %}
    {% if res.resourcetype =='url' and res.urltitle %}
    <p>{{res.urltitle}}</p>
    {% endif %}
  </div>
  <p>{{res.name}}</p>
  <p>{{res.description}}
  {% if res.resourcetype == 'url' %}
  </a>
  {% endif %}
</div>