<template>
  <v-main>
    <v-container fluid>
      <display-list-element
        v-for="display of displays" :key="display._id" :display="display">
      </display-list-element>
      <v-btn
        @click="addDisplay">
        <v-icon>mdi-plus</v-icon>{{$t('add-display')}}
      </v-btn>
    </v-container>
  </v-main>
</template>

<script lang="ts">
import { getUniqueId } from '../utils/utils'
import DisplayListElement from '../components/DisplayListElement.vue'

export default {
  components: {
    DisplayListElement
  },
  data () {
    return {
      displays: [] as Array<any>,
    }
  },
  beforeMount () {
    this.$pouch.allDocs({
        include_docs: true,
        startkey: 'display',
        endkey: 'display\ufff0'
      })
      .then(res => {
        this.displays = res.rows.map(row => row.doc)
      })
  },
  methods: {
    async addDisplay () {
      let newDisplay = {
        _id: 'display:'+ await getUniqueId(this.$pouch, 'display'),
        type: 'display',
        name: '',
        template: '',
        events: [],
      }
      this.$pouch.put(newDisplay)
      .then(res => {
        this.displays.push(newDisplay)
      })
    },
  },

}
</script>

<style>

</style>