<template>
  <v-main>
    <v-container fluid>
      <h1>{{ display.name }}</h1>
      <v-row>
        <v-col cols="8">
          <v-card
            outlined
            rounded>
            <v-container>
              <v-form>
                <v-text-field
                  v-model="display._id"
                  label="Display id"
                  disabled
                  required
                ></v-text-field>
                <v-text-field
                  v-model="display.name"
                  label="Display Name"
                  required
                ></v-text-field>
                <v-select
                  v-model="display.template"
                  :items="templates"
                  item-text="name"
                  item-value="value"
                  :label="$t('display-type')"
                  required
                ></v-select>
                <p class="template-description">{{ templateDescription }}</p>
                <v-select
                  v-model="display.eventfilter"
                  :items="filters"
                  item-text="name"
                  item-value="value"
                  :label="$t('event-filter')"
                  required
                ></v-select>
              </v-form>
              <search-box @selected="addEvent"></search-box>
              <v-card v-for="event of events" :key="event._id">
                <v-container>
                  <v-card-text>
                    <v-row>
                      <v-col cols="2">
                        <v-avatar size="50">
                          <img :src="event.imageurl" alt="">
                        </v-avatar>
                      </v-col>
                      <v-col cols="10">
                        <h3>{{ getLocaleString(event.name) }}</h3>
                        <p>{{ getClosestDate(event) }}</p>
                      </v-col>
                    </v-row>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn small color="primary" @click="$router.push(`/edit-event/${event._id}`)">Edit</v-btn>
                    <v-btn small color="error" @click="deleteEvent(event._id)">Delete</v-btn>
                  </v-card-actions>
                </v-container>
              </v-card>
            </v-container>
          </v-card>
        </v-col>
        <v-col cols="4">
          <v-card rounded>
            <v-text-field
              v-model="displayurl"
              readonly>
            </v-text-field>
            <iframe class="display-preview" :src="displayurl" height="600"></iframe>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script lang="ts">
import SearchBox from "@/components/SearchBox.vue";
import {KDisplay} from '../types/type'
import {getClosestLocaleString, getClosestUpcomingDate} from '@/utils/utils'

export default {
  name: 'EditDisplay',
  components: {
    SearchBox,
  },
  data () {
    return {
      displayid: this.$route.params.id,
      display: {
        _id: '',
        type: '',
        name: '',
        template: '',
        eventfilter: 'none',
        events: [],
      } as KDisplay,
      events: [] as Array<any>,
      displaychanges: null as any,
      saveInterval: null as any,
      displaychanged: false,
      templates: [
        {
          name: this.$t('simplehtml-template-name'),
          value: 'simplehtml',
          description: this.$t('simplehtml-template-description'),
        },
        {
          name: this.$t('explorer-template-name'),
          value: 'explorer',
          description: this.$t('explorer-template-description'),
        }
      ],
      filters: [
        {
          name: this.$t('display-nofilter'),
          value: 'none'
        },
        {
          name: this.$t('display-today'),
          value: 'today'
        },
        {
          name: this.$t('display-thisweek'),
          value: 'thisweek'
        },
        {
          name: this.$t('display-thismonth'),
          value: 'thismonth'
        },
        {
          name: this.$t('display-upcoming'),
          value: 'upcoming'
        },
        {
          name: this.$t('display-past'),
          value: 'past'
        },
        {
          name: this.$t('display-all'),
          value: 'all'
        },

      ]
    }
  },
  watch: {
    display: {
      handler: function() {
        this.displaychanged = true
      },
      deep: true,
    },
  },
  beforeMount () {
    this.$pouch.get(this.displayid).then((doc: KDisplay) => {
      this.display = doc
      this.displaychanged = false
      if (doc.events) {
        for (let event of doc.events) {
          this.$pouch.get(event).then((event: any) => {
            this.events.push(event)
            this.displaychanged = false
          })
        }
      }
    })

    this.displaychanges = this.$pouch.changes({
      since: 'now',
      live: true,
      include_docs: true,
      doc_ids: [this.displayid]
    }).on('change', (change) => {
      this.display = change.doc as unknown as KDisplay
      setTimeout(() => {
        this.displaychanged = false
        let previewiframe = document.querySelector('.display-preview') as HTMLIFrameElement
        if (previewiframe) {
          previewiframe.src += ''
        }
      }, 1000)
    })

    this.saveInterval = setInterval(() => {
      if (this.displaychanged) {
        this.saveDisplay()
        this.displaychanged = false
      }
    }, 5000)
  },
  methods: {
    saveDisplay () {
      this.$pouch.put(this.display).then((response) => {
        let preview = document.querySelector('.display-preview') as HTMLIFrameElement
        if (preview) {
          preview.src += ''
        }
        //console.log(response)
      })
    },
    addEvent (eventid: string) {
      this.display.events.push(eventid)
      this.$pouch.get(eventid)
        .then((doc: any) => {
          this.events.push(doc)
        })
        .catch((err: any) => {
          console.log(err)
        })
    },
    getLocaleString (str: string) {
      return getClosestLocaleString(str, this.$i18n.locale, this.$i18n.fallbackLocale as string)
    },
    getClosestDate (event: any) {
      const closesdate = getClosestUpcomingDate(event.occurences.map((occ: any) => new Date(occ.startdate)), new Date())
      return closesdate?.toLocaleDateString()
    },
    deleteEvent (eventid: string) {
      this.display.events = this.display.events.filter((id: string) => id !== eventid)
      this.events.splice(this.events.findIndex((event: any) => event._id === eventid), 1)
    }
  },
  computed : {
    displayurl () {
      return `${this.$store.state.kronikleapiurl}/d/${this.$store.state.user.username}/dis/${this.display._id}`
    },
    templateDescription () {
      if (this.templates && this.templates.length > 0) {
        const template = this.templates.find((template: any) => template.value === this.display.template)
        return template?.description
      } else {
        return ''
      }
    }
  },
  beforeDestroy () {
    this.saveDisplay()
    this.displaychanges.cancel()
    clearInterval(this.saveInterval)
  },
}
</script>

<style>
.display-preview {
  width: 100%;
  border: none;
  border-radius: 5px;
}

.template-description {
  font-style: italic;
  color: #999;
}
</style>