<template>
  <v-main>
    <v-row>
      <v-col cols="6">
        <event-form :existingeventid="eventid" @submit="validatenewevent"></event-form>
      </v-col>
      <v-col cols="6">
        <resource-grid :eventid="eventid"></resource-grid>
      </v-col>
    </v-row>
  </v-main>
</template>

<script>
import EventForm from '../components/EventForm.vue'
import ResourceGrid from '../components/ResourceGrid.vue'
import { getUniqueId } from '../utils/utils'

export default {
  components: {
    EventForm,
    ResourceGrid
  },
  data () {
    return {
      eventid: this.$route.params.id,
    }
  },
  methods: {
    async validatenewevent (dataobj) {

      let newevent = dataobj.event
      
      try {
        let insertionresult = await this.$pouch.put(newevent)
        if (dataobj.file) {
          console.log('there is file, i uplaod file')
          let imageinsertionresult = await this.$pouch.putAttachment(insertionresult.id, insertionresult.rev, dataobj.file)
          let docwithattachment = await this.$pouch.get(newevent._id)
          await this.$pouch.put({
            ...docwithattachment,
            imageurl:  `${this.$store.state.kronikleapiurl}/api/${this.$store.state.user.username}/event/${imageinsertionresult.id}/image`,
          })
          this.$router.push('/')
        } else {
          this.$router.push('/')
        }
      } catch (err) {
        console.log(err)
      }
    }
  }

}
</script>

<style>

</style>