<template>
  <v-main>
    <v-container fluid>
      <v-row>
        <v-col cols="4"></v-col>
        <v-col cols="4">
          <search-box @selected="gotoEditEvent"></search-box>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="8">
          <month-agenda-component></month-agenda-component>
        </v-col>
        <v-col cols="4">
          <agenda-component></agenda-component>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script lang="ts">
import SearchBox from '@/components/SearchBox.vue';
import Vue from 'vue'
import AgendaComponent from '../components/AgendaComponent.vue'
import MonthAgendaComponent from '../components/MonthAgendaComponent.vue'

let eventbuffer = [] as Array<any>

export default Vue.extend({
  name: 'Home',
  components: {
    AgendaComponent,
    MonthAgendaComponent,
    SearchBox
  },
  methods: {
    gotoEditEvent: function (eventid: string) {
      this.$router.push(`/edit-event/${eventid}`)
    }
  }
});
</script>
