<template>
  <v-main>
    <v-card max-width="600" class="mx-auto">
      <v-container>
        <v-form>
          <v-text-field :label="$t('email')" v-model="username" type="email" :placeholder="$t('email')">
          </v-text-field>
          <v-text-field :label="$t('password')" v-model="password" type="password" :placeholder="$t('password')" @keydown.enter="login">
          </v-text-field>
          <v-btn class="primary" @click="login">{{$t('login')}}</v-btn>
          <router-link id="go-to-register-link" to="/register">{{$t('go-to-register')}}</router-link>
        </v-form>
      </v-container>
    </v-card>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    login() {
      this.$store.dispatch('login', {
        username: this.username,
        password: this.password,
        vue: this
      })
    }
  }
})
</script>

<style>
#go-to-register-link {
  margin-left: 20px;
}
</style>