<template>
  <v-main>
    <v-container fluid>
      <v-row>
      </v-row>
      <v-row>
        <v-col cols="2"></v-col>
        <v-col cols="8">
          <h3>{{$t('my-events')}}</h3>
          <event-list :upcomingevents="upcomingEvents"></event-list>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue'
import EventList from '../components/EventList.vue'

export default Vue.extend({
  name: 'MyEvents',
  components: {
    EventList,
  },
  data () {
    return {
      upcomingEvents: [] as Array<any>
    }
  },
  created: function () {
      this.$pouch.allDocs({
        include_docs: true,
        startkey: 'event',
        endkey: 'event\ufff0'
      })
      .then(res => {
        this.upcomingEvents = res.rows.filter(row => {
          return row.doc?.author === this.$store.state.user.username
        }).map(e => e.doc)
      })
  }
});
</script>
