<template>
  <v-main>
    <event-form @submit="validatenewevent"></event-form>
  </v-main>
</template>

<script lang="ts">
import EventForm from '../components/EventForm.vue'
import { getUniqueId } from '../utils/utils'

export default {
  components: {
    EventForm
  },
  methods: {
    async validatenewevent (dataobj) {

      let newevent = dataobj.event
      
      let id = await getUniqueId(this.$pouch, 'event:')
      newevent._id = id
      try {
        let insertionresult = await this.$pouch.put(newevent)
        if (dataobj.file) {
          console.log('there is file, i uplaod file')
          let imageinsertionresult = await this.$pouch.putAttachment(insertionresult.id, insertionresult.rev, dataobj.file)
          let docwithattachment = await this.$pouch.get(id)
          await this.$pouch.put({
            ...docwithattachment,
            imageurl: `${this.$store.state.kronikleapiurl}/api/${this.$store.state.user.username}/event/${imageinsertionresult.id}/image`,
          })
          this.$router.push('/')
        } else {
          this.$router.push('/')
        }
      } catch (err) {
        console.log(err)
      }
    }
  }

}
</script>

<style>

</style>