<template>
  <v-main>
    <v-container fluid>
      <h2>{{$t('places')}}</h2>
      <place-list-element
        v-for="place of places" :key="place._id" :place="place">
      </place-list-element>
      <v-btn
        @click="addPlace">
        <v-icon>mdi-plus</v-icon>{{$t('add-place')}}
      </v-btn>
        <place-add v-if="showPlaceAdd"></place-add>
    </v-container>
  </v-main>
</template>

<script lang="ts">
import PlaceAdd from '../components/PlaceAdd.vue'
import PlaceListElement from '../components/PlaceListElement.vue'

export default {
  components: {
    PlaceAdd,
    PlaceListElement
  },
  data () {
    return {
      places: [] as Array<any>,
      showPlaceAdd: false,
    }
  },
  beforeMount() {
    this.$pouch.allDocs({
        include_docs: true,
        startkey: 'place',
        endkey: 'place\ufff0'
      })
      .then(res => {
        this.places = res.rows.map(row => row.doc)
      })
  },
  methods: {
    addPlace() {
      this.showPlaceAdd = true
    },
  },
}
</script>