<template>
  <v-main>
    <v-container fluid>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card>
            <v-card-title>
              <span class="headline">{{$t('please-confirm-email')}}</span>
            </v-card-title>
            <v-card-text>
              <p>
                {{$t('please-confirm-email-text')}}
              </p>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-main>
</template>

<script>
export default {

}
</script>

<style>

</style>