<template>
  <v-main>
    <v-card max-width="600" class="mx-auto">
      <v-container>
        <v-form>
          <v-text-field :label="$t('email')" v-model="email" type="email" :placeholder="$t('email')" :rules="emailrules">
          </v-text-field>
          <v-text-field :label="$t('password')" v-model="password" type="password" :placeholder="$t('password')" :rules="passwordrules">
          </v-text-field>
          <v-text-field :label="$t('institution')" v-model="institution" type="text" :placeholder="$t('institution')">
          </v-text-field>
          <v-btn :disabled="!formisvalid" class="primary" @click="register" :loading="registersent">{{$t('register')}}</v-btn>
        </v-form>
      </v-container>
    </v-card>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      email: '',
      password: '',
      institution: '',
      registersent: false,
      emailrules: [
        (value: any) => !!value || this.$t('required'),
        (value: any) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || this.$t('invalid-email')
        },
      ],
      passwordrules: [
        (value: any) => !!value || this.$t('required'),
        (value: any) => value.length >= 8 || this.$t('password-must-eight'),
      ],
    }
  },
  computed: {
    formisvalid () {
      return this.emailrules.every((rule: any) => rule(this.email)===true) && this.passwordrules.every((rule: any) => rule(this.password)===true)
    },
  },
  methods: {
    register () {
      this.registersent = true
      fetch(`${this.$store.state.kronikleapiurl}/auth/register`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          email: this.email,
          password: this.password,
          confirmPassword: this.password,
          institution: this.institution,
        }),
      })
        .then(res => res.json())
        .then(res => {
          if (res.success) {
            this.$router.push('/pleaseconfirm')
          } else {
            alert(res.message)
          }
        })
        .catch(() => {
          this.registersent = false
        })
    }
  }
})
</script>

<style>

</style>