<template>
  <v-card
      class="mx-auto agenda-component"
      max-width="400">
    <h3 v-if="todayEvents.length > 0">{{$t('today')}}</h3>
    <agenda-component-row v-for="event of todayEvents" :key="event._id" :event="event"></agenda-component-row>
    <h3>{{$t('soon')}}</h3>
    <agenda-component-row v-for="event of upcomingEvents" :key="event._id"  :event="event"></agenda-component-row>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import AgendaComponentRow from "./AgendaComponentRow.vue"

export default Vue.extend({
  components: {
    AgendaComponentRow
  },
  data () {
    return {
      todayEvents: [] as Array<any>,
      upcomingEvents: [] as Array<any>,
      eventschanged: false
    }
  },
  mounted () {
    let todaybegin = new Date()
    todaybegin.setHours(0)
    todaybegin.setMinutes(0)
    todaybegin.setSeconds(0)
    todaybegin.setMilliseconds(0)
    let tomorrowbegin = new Date(todaybegin)
    tomorrowbegin.setDate(tomorrowbegin.getDate()+1)

    this.$pouch.query('events/dates',{
      startkey: todaybegin.toISOString(),
      endkey: tomorrowbegin.toISOString(),
      include_docs: true
    })
    .then(dates => {
      for (const date of dates.rows) {
        this.todayEvents.push(date.doc)
      }
    })

    this.$pouch.query('events/dates', {
      startkey: tomorrowbegin.toISOString(),
      include_docs: true
    })
    .then(dates => {
      for (const date of dates.rows) {
        this.upcomingEvents.push(date.doc)
      }
    })


    this.$pouch.changes({
      selector: {
        type: 'event'
      },
      since: 'now',
      live: true,
      include_docs: false
    })
    .on('change', change => {
        this.eventschanged = true
    })

    setInterval(() => {
      if (this.eventschanged) {
        this.eventschanged = false
        this.todayEvents = []
        this.upcomingEvents = []
        
        
        this.$pouch.query('events/dates',{
          startkey: todaybegin.toISOString(),
          endkey: tomorrowbegin.toISOString(),
          include_docs: true
        })
        .then(dates => {
          for (const date of dates.rows) {
            this.todayEvents.push(date.doc)
          }
        })

        this.$pouch.query('events/dates', {
          startkey: tomorrowbegin.toISOString(),
          include_docs: true
        })
        .then(dates => {
          for (const date of dates.rows) {
            this.upcomingEvents.push(date.doc)
          }
        })
      }
    }, 5000)
  },
})
</script>

<style>
.agenda-component {
  max-height: 800px;
  overflow-y: scroll;
}
</style>