<template>
  <v-list-item
    @click="$router.push('/edit-event/' + event._id)"
    two-line
    class="agenda-component-row"
    >
    <v-list-item-avatar>
      <v-img :src="eventImage"></v-img>
    </v-list-item-avatar>
    <v-list-item-content>
      <v-list-item-title class="agenda-component-row-eventname">{{eventName}}</v-list-item-title>
      <v-list-item-subtitle class="agenda-component-row-eventdate">{{eventDate}}</v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>

<script lang="ts">
import Vue from 'vue'
import { getClosestUpcomingDate, getClosestLocaleString } from "../utils/utils"
import defaultImage from '../assets/default-event-image.png'

export default Vue.extend({
  props: ['event'],
  computed: {
    eventName: function () {
      return getClosestLocaleString(this.event.name, this.$i18n.locale, this.$i18n.fallbackLocale as string)
    },
    eventDate: function () {
      let occurencesArray = this.event.occurences.map((occ: any) => {
        return new Date(occ.startdate)
      })

      return getClosestUpcomingDate(occurencesArray, new Date())?.toLocaleDateString()
    },
    eventImage: function () {
      return this.event.imageurl ?? this.defaultImage()
    }
  },
  methods: {
    defaultImage () {
      return defaultImage
    }
  }
})
</script>

<style scoped>
  img {
    object-fit: cover;
    width: 40px;
    height: 40px;
  }

  .agenda-component-row {
    cursor: pointer;
  }
</style>