<template>
  <v-card outlined>
    <div v-if="editor">
      <v-btn  icon tile  elevation="0" @click="editor.chain().focus().undo().run()">
        <v-icon>mdi-undo</v-icon>
      </v-btn>
      <v-btn  icon tile  elevation="0" @click="editor.chain().focus().redo().run()">
        <v-icon>mdi-redo</v-icon>
      </v-btn>
      <v-btn  icon tile  elevation="0" @click="addImage">
        <v-icon>mdi-image</v-icon>
      </v-btn>
      <v-btn  icon tile  elevation="0" @click="editor.chain().focus().toggleBold().run()" :class="{ 'is-active': editor.isActive('bold') }">
        <v-icon>mdi-format-bold</v-icon>
      </v-btn>
      <v-btn  icon tile  elevation="0" @click="editor.chain().focus().toggleItalic().run()" :class="{ 'is-active': editor.isActive('italic') }">
        <v-icon>mdi-format-italic</v-icon>
      </v-btn>
      <v-btn  icon tile  elevation="0" @click="editor.chain().focus().toggleStrike().run()" :class="{ 'is-active': editor.isActive('strike') }">
        <v-icon>mdi-format-strikethrough</v-icon>
      </v-btn>
      <v-btn  icon tile  elevation="0" @click="editor.chain().focus().setParagraph().run()" :class="{ 'is-active': editor.isActive('paragraph') }">
        <v-icon>mdi-format-paragraph</v-icon>
      </v-btn>
      <v-btn  icon tile  elevation="0" @click="editor.chain().focus().toggleHeading({ level: 1 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 1 }) }">
        <v-icon>mdi-format-header-1</v-icon>
      </v-btn>
      <v-btn  icon tile  elevation="0" @click="editor.chain().focus().toggleHeading({ level: 2 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 2 }) }">
        <v-icon>mdi-format-header-2</v-icon>
      </v-btn>
      <v-btn  icon tile  elevation="0" @click="editor.chain().focus().toggleHeading({ level: 3 }).run()" :class="{ 'is-active': editor.isActive('heading', { level: 3 }) }">
        <v-icon>mdi-format-header-3</v-icon>
      </v-btn>
      <v-btn  icon tile  elevation="0" @click="editor.chain().focus().toggleBulletList().run()" :class="{ 'is-active': editor.isActive('bulletList') }">
        <v-icon>mdi-format-list-bulleted</v-icon>
      </v-btn>
      <v-btn  icon tile  elevation="0" @click="editor.chain().focus().toggleOrderedList().run()" :class="{ 'is-active': editor.isActive('orderedList') }">
        <v-icon>mdi-format-list-numbered</v-icon>
      </v-btn>
      <v-btn  icon tile  elevation="0" @click="editor.chain().focus().toggleBlockquote().run()" :class="{ 'is-active': editor.isActive('blockquote') }">
        <v-icon>mdi-format-quote-close</v-icon>
      </v-btn>
      
    </div>
    <editor-content :editor="editor" :disabled="disabled" class="editor"/>
  </v-card>
</template>

<script>
import { Editor, EditorContent } from '@tiptap/vue-2'
import StarterKit from '@tiptap/starter-kit'
import Image from '@tiptap/extension-image'
import Placeholder from '@tiptap/extension-placeholder'

export default {
  components: {
    EditorContent,
  },

  props: {
    value: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      editor: null,
    }
  },
  methods: {
    addImage() {
      let url = window.prompt('Enter image url')

      if (url) {
        this.editor.chain().focus().setImage({ src: url }).run()      
      }
    },
  },
  watch: {
    value(value) {
      // HTML
      const isSame = this.editor.getHTML() === value

      // JSON
      // const isSame = this.editor.getJSON().toString() === value.toString()

      if (isSame) {
        return
      }

      this.editor.commands.setContent(this.value, false)
    },
    disabled(disabled) {
      if (disabled) {
        this.editor.setOptions({editable: false})
      }
    }
  },

  mounted() {
    this.editor = new Editor({
      extensions: [
        StarterKit,
        Image,
        Placeholder.configure({
          placeholder: this.$t('description-editor-placeholder')
        })
      ],
      content: this.value,
      onUpdate: () => {
        // HTML
        this.$emit('input', this.editor.getHTML())

        // JSON
        // this.$emit('input', this.editor.getJSON())
      },
    })
  },

  beforeDestroy() {
    this.editor.destroy()
  },
}
</script>

<style>
.ProseMirror img {
  width: 80%;
}

.ProseMirror {
  min-height: 200px;
}

.editor[disabled] {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.38);
}
</style>