<template>
  <v-card @click="$router.push(`/display/${display._id}`)">
    <v-card-title>
      {{ title }}
    </v-card-title>
  </v-card>
</template>

<script lang="ts">
import Vue, {PropType} from 'vue'
import {KDisplay} from '../types/type'

export default Vue.extend({
  props: {
    display: {
      type: Object as PropType<KDisplay>,
      required: true,
    },
  },
  computed: {
    title: function () {
      return this.display.name.length > 0 ? this.display.name : this.$t('no-name')
    }
  }
})
</script>

<style>

</style>