<template>
  <v-card
      class="mx-auto agenda-component">
    <agenda-component-row v-for="event of upcomingevents" :key="event._id"  :event="event"></agenda-component-row>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import AgendaComponentRow from "./AgendaComponentRow.vue"
import {getClosestUpcomingDate, isDateToday} from "../utils/utils"

export default Vue.extend({
  components: {
    AgendaComponentRow
  },
  props: [
    'upcomingevents'
  ],
})
</script>

<style>
.agenda-component {
  max-height: 800px;
  overflow-y: auto;
}
</style>