<template>
    <v-container>
      <v-card
        class="mx-auto mb-12 pa-10"
        rounded
        outlined>
        <v-container>
          <v-card-title>
            {{ name}}
          </v-card-title>
          <validation-observer
            ref="observer"
            v-slot="{ invalid }">
            <v-form
              :disabled="eventstatus.value === 'imported'">
              <v-row
                class="align-end">
                <v-col cols="6">
                  <validation-provider
                    v-slot="{ errors }"
                    rules="required"
                    :name="$t('event-name')">
                    <v-text-field
                      :label="$t('event-name')"
                      v-model="name"
                      type="text"
                      :placeholder="$t('event-name')"
                      :error-messages="errors">
                    </v-text-field>
                  </validation-provider>
                </v-col>
                <v-col cols="6">
                  <file-pond
                    :disabled="eventstatus.value === 'imported'"
                    name="test"
                    ref="pond"
                    :label-idle="$t('drop-files-here')"
                    :allow-multiple="false"
                    accepted-file-types="image/jpeg, image/png"
                    :files="myFiles"
                    @init="handleFilePondInit"
                    @addfile="handleFilePondAdd"
                    credits="false"
                    storeAsFile="true"
                  />
                </v-col>
              </v-row>
              <v-text-field
                :label="$t('event-shortdesc')"
                v-model="shortdesc"
                type="text"
                :placeholder="$t('event-shortdesc')"
                :error-messages="errors">
              </v-text-field>
              <v-subheader class="pl-0">{{$t('new-event-description')}}</v-subheader>
              <editor v-model="desc" :disabled="eventstatus.value === 'imported'" type="text" />
              <v-subheader class="pl-0">{{$t('new-event-occurences')}}</v-subheader>
              <occurences-editor :occurences="occurences" :disabled="eventstatus.value === 'imported'"></occurences-editor>
              <v-select
                class="mt-3"
                :items="eventstatuses"
                item-value="value"
                item-text="label"
                :label="$t('event-status')"
                v-model="eventstatus"
                return-object
              ></v-select>
              <v-card-actions
                  @click="showmoreoptions = !showmoreoptions">
                <v-subheader>{{$t('new-event-more-options')}}</v-subheader>

                <v-spacer></v-spacer>

                <v-btn
                  icon
                >
                  <v-icon>{{ showmoreoptions ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                </v-btn>
              </v-card-actions>
              <v-expand-transition>
                <div v-show="showmoreoptions">
                  <v-divider></v-divider>
                    <v-row>
                      <v-col cols="6">
                        <validation-provider
                          v-slot="{ errors }"
                          rules="numeric"
                          :name="$t('event-max-capacity')">
                          <v-text-field
                            :label="$t('event-max-capacity')"
                            v-model="maximumAttendeeCapacity"
                            type="number"
                            :error-messages="errors"
                            @input="remainingAttendeeCapacity = maximumAttendeeCapacity">
                          </v-text-field>
                        </validation-provider>
                      </v-col>
                      <v-col cols="6">
                        <validation-provider
                          v-slot="{ errors }"
                          :rules="`numeric|max_value:${maximumAttendeeCapacity}`"
                          :name="$t('event-remaining-capacity')">
                          <v-text-field
                            :label="$t('event-remaining-capacity')"
                            v-model="remainingAttendeeCapacity"
                            type="number"
                            :error-messages="errors">
                          </v-text-field>
                        </validation-provider>
                      </v-col>
                    </v-row>
                    <v-autocomplete
                      v-model="superevent"
                      :items="supereventlistcomp"
                      item-text="label"
                      item-value="value"
                      :search-input.sync="searchsuperevents"
                      :loading="isSuperEventLoading"
                      :label="$t('choose-super-event')"
                      :placeholder="$t('choose-super-event')"
                      @keypress="superevent = null"
                      hide-no-data
                      >
                    </v-autocomplete>
                    <tag-selector v-model="tags" :existingtags="accounttags"></tag-selector>
                </div>
              </v-expand-transition>
                <v-btn
                  class="primary"
                  :disabled="invalid || eventstatus.value === 'imported'"
                  @click="validatenewevent">
                  {{existingeventid ? $t('modify-the-event') : $t('create-the-event')}}
                </v-btn>
            </v-form>
          </validation-observer>
        </v-container>
      </v-card>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { required, numeric, max_value} from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
import Editor from '../components/DescriptionEditor.vue'
import OccurencesEditor from '../components/OccurencesEditor.vue'
import { getClosestLocaleString } from '../utils/utils'
import vueFilePond from "vue-filepond";
import "filepond/dist/filepond.min.css";
import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type";
import FilePondPluginImagePreview from "filepond-plugin-image-preview";
import TagSelector from './TagSelector.vue'

// Create component
const FilePond = vueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginImagePreview
);

setInteractionMode('eager')

export default Vue.extend({
  beforeCreate () {
    extend('required', {
      ...required,
      message: `{_field_} ${this.$t('can-not-be-empty')}`,
    })
    extend('numeric', {
      ...numeric,
      message: `{_field_} ${this.$t('must-be-numeric')}`,
    }),
    extend('max_value', {
      ...max_value,
      message: `{_field_} ${this.$t('must-be-less-than')}`,
    })
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Editor,
    OccurencesEditor,
    FilePond,
    TagSelector
  },
  props: {
    existingeventid: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      invalid: false,
      errors: [],
      name: '',
      shortdesc: '',
      desc: '',
      occurences: [] as Array<any>,
      eventstatus: {
          value: 'draft',
          label: this.$t('event-status-draft'),
        },
      maximumAttendeeCapacity: 0,
      remainingAttendeeCapacity: 0,
      superevent: null as any,
      supereventlist: [] as Array<any>,
      searchsuperevents: null as any,
      isSuperEventLoading: false,
      myFiles: [] as Array<any>,
      imageurl: '',
      author: null as any,
      datecreation: null as any,
      dateupdate: null as any,
      currentEditingLanguage: 'fr',
      showmoreoptions: false,
      oldFileSize: 0,
      imageAlreadyExists: false,
      rev: null  as any,
      attachments: null as any,
      tags: [] as Array<string>,
      resourcesOrder: null,
      accounttags: ['Jeunesse', 'Partenaire', 'Mairie', 'Arts et Culture'],
      eventstatuses: [
        {
          value: 'draft',
          label: this.$t('event-status-draft'),
        },
        {
          value: 'published',
          label: this.$t('event-status-published'),
        },
        {
          value: 'rescheduled',
          label: this.$t('event-status-rescheduled'),
        },
        {
          value: 'canceled',
          label: this.$t('event-status-canceled'),
        },
        {
          value: 'archived',
          label: this.$t('event-status-archived'),
        },
        {
          value: 'imported',
          label: this.$t('event-status-imported'),
          disabled: true,
        }
      ],
    }
  },
  beforeMount () {
    
    this.$pouch.query('events/tag-list', {group: true}).then((res: any) => {
      this.accounttags.push(...res.rows.map((row: any) => row.key))
    })

    if (this.existingeventid != undefined) {
      this.$pouch.get(this.existingeventid).then((doc) => {
        let status = this.eventstatuses.find( e => e.value == doc.status)
        this.eventstatus = status ? status : {value: 'imported', label: this.$t('event-status-imported')}
        this.name = doc.name[this.currentEditingLanguage]
        this.shortdesc = doc.shortdesc[this.currentEditingLanguage]
        this.desc = doc.desc[this.currentEditingLanguage]
        this.superevent = doc.superevent
        this.maximumAttendeeCapacity = doc.maximumAttendeeCapacity
        this.remainingAttendeeCapacity = doc.remainingAttendeeCapacity
        this.occurences = doc.occurences.map((o: any) => {
          return {
            range: {
              start: o.startdate,
              end: o.enddate
            },
            place: {
              _id: o?.placeid
            }
          }
        })
        this.imageurl = doc.imageurl
        this.datecreation = new Date(doc.datecreation)
        this.author = doc.author
        if (doc.imageurl) {
          this.myFiles.push(doc.imageurl)
        }
        if (doc.imageurl && doc._attachments) {
          this.imageAlreadyExists = true
        }
        this.rev = doc._rev
        this.attachments = doc._attachments
        this.tags = doc.tags ?? [],
        this.resourcesOrder = doc.resourceOrder
      })
    }
  },
  computed: {
    supereventlistcomp () : {value: string, label: string}[]{
      return this.supereventlist.map((e: any) => {
        return {
          value: e._id,
          label: `${(new Date(e.occurences[0].startdate)).toLocaleDateString()}\t${getClosestLocaleString(e.name, this.$i18n.locale, this.$i18n.fallbackLocale)}`,
        }
      })
    },
  },
  methods: {
    handleFilePondInit: function () {
      // FilePond instance methods are available on `this.$refs.pond`
    },
    handleFilePondAdd (files: any) {
      if (this.imageAlreadyExists) {
        this.oldFileSize = this.$refs.pond.getFile().fileSize
        this.imageAlreadyExists = false
      }
    },
    validatenewevent () {
      let files = null
      let newevent = {
        _id: this.existingeventid ?? '',
        type: 'event',
        name: {} as any,
        shortdesc: {} as any,
        desc: {} as any,
        occurences: this.occurences.map((e: any) => {
          return {
            startdate: e?.range?.start,
            enddate: e?.range.end,
            placeid: e?.place?._id
          }
        }),
        eventstatus: this.eventstatus.value,
        maximumAttendeeCapacity: this.maximumAttendeeCapacity,
        remainingAttendeeCapacity: this.remainingAttendeeCapacity,
        status: this.eventstatus.value,
        superevent: this.superevent,
        datecreation: this.datecreation ? (new Date(this.datecreation)).toISOString() : (new Date()).toISOString(),
        dateupdate: (new Date()).toISOString(),
        author: this.author ?? this.$store.state.user.username,
        imageurl: this.imageurl,
        tags: this.tags,
        resourceOrder: this.resourcesOrder
      }

      newevent.name[this.currentEditingLanguage] = this.name.trim()
      newevent.shortdesc[this.currentEditingLanguage] = this.shortdesc.trim()
      newevent.desc[this.currentEditingLanguage] = this.desc.trim()

      // add rev and attachments from already exisisting event
      this.rev ? newevent._rev = this.rev : null
      this.attachments ? newevent._attachments = this.attachments : null

      if (this.$refs.pond.getFiles().length > 0 && this.$refs.pond.getFile().fileSize !== this.oldFileSize) {
        files = {
            id: 'image',
            type:  this.$refs.pond.getFiles()[0].fileType,
            data: this.$refs.pond.getFiles()[0].file,
          }
      } else if (this.$refs.pond.getFiles().length == 0) {
        // the user removed the event image, but we'll keep the old image as attachment for now
        newevent.imageurl = null
      }

      this.$emit('submit', {
        event: newevent,
        file: files
      })

    }
  },
  watch: {
    searchsuperevents (val) {
      // We need at least 3 characters to search for
      if (val.length < 3) return
      // If there is already an item selected, we don't want to search
      if (this.superevent != null) return
      // If we are in a loading state, we don't want to search
      if (this.isSuperEventLoading) return

      this.isSuperEventLoading = true

      const regex = new RegExp(val, 'i')

      this.$pouch.find({
        selector: {
          $or: [
            {
              _id: val,
            },
            {
              "name.fr": {
                $regex: regex,
              },
            },
          ],
        },
        limit: 15,
      }).then(res => {
        this.supereventlist = res.docs
        this.isSuperEventLoading = false
      }).catch(err => {
        this.isSuperEventLoading = false
        console.log(err)
        })
    }
  }
})
</script>

<style>

</style>