<template>
<v-sheet>
<v-sheet height="64">
        <v-toolbar
          flat
        >
          <v-btn
            outlined
            class="mr-4"
            color="grey darken-2"
            @click="setToday"
          >
            {{$t('today')}}
          </v-btn>
          <v-btn
            v-if="type!='month'"
            outlined
            class="mr-4"
            color="grey darken-2"
            @click="setMonth"
          >
            {{$t('back-to-month')}}
          </v-btn>
          <v-btn
            fab
            text
            small
            color="grey darken-2"
            @click="prev"
          >
            <v-icon small>
              mdi-chevron-left
            </v-icon>
          </v-btn>
          <v-btn
            fab
            text
            small
            color="grey darken-2"
            @click="next"
          >
            <v-icon small>
              mdi-chevron-right
            </v-icon>
          </v-btn>
          <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
          </v-toolbar-title>
        </v-toolbar>
      </v-sheet>
      <v-sheet
        height="600">
        <v-calendar
                @change="getEvents"
                :events="dates"
                ref="calendar"
                v-model="focus"
                color="primary"
                :weekdays="weekday"
                :event-color="getEventColor"
                event-overlap-mode="stack"
                :event-more="true"
                :type="type"
                @click:event="editEvent"
                @click:more="viewDay"
                @click:date="viewDay">
        </v-calendar>
      </v-sheet>
</v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
import {getClosestLocaleString} from '../utils/utils'

var datesbuffer = [] as Array<any>

export default Vue.extend({
  data: () => ({
      focus: '',
      type: 'month',
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      events: [],
      dates: [] as Array<{start: Date, end: Date, name: string, timed: boolean, id: string, status: string}>,
      colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
      weekday:  [1, 2, 3, 4, 5, 6, 0],
      dateschanges: null as any,
      datesbuffer: datesbuffer,
      dateschanged: false,
      currentDuration: null as any
    }),
    mounted () {
      this.$refs.calendar.checkChange()

      this.dateschanges = this.$pouch.changes({
          since: 'now',
          live: true,
          include_docs: true,
          selector: {
            type: 'event'
          }
        }).on('change', (change) => {
          this.dateschanged = true
        })

        setInterval(() => {
          if (this.dateschanged && this.currentDuration) {
            this.dateschanged = false
            this.getEvents(this.currentDuration)
          }
        }, 5000)
    },
    methods: {
      getEvents (newDuration: {start: {date: string}, end: {date: string}}) {
        this.currentDuration = newDuration
        this.fillEvents(newDuration)
      },
      fillEvents (newDuration: {start: {date: string}, end: {date: string}}) {
        const startDate = new Date(newDuration.start.date)
        const endDate = new Date(newDuration.end.date)
        endDate.setDate(endDate.getDate()+1)
        this.$pouch.query('events/dates', {
          startkey: startDate.toISOString(),
          endkey: endDate.toISOString()
        })
          .then(dates => {
            this.dates = [] as Array<{start: Date, end: Date, name: string, timed: boolean, id: string, status: string}>
            for (const date of dates.rows) {
              this.dates.push({
                start: new Date(date.key),
                end: new Date(date.value.end),
                name: getClosestLocaleString(date.value.name, this.$i18n.locale, this.$i18n.fallbackLocale as string),
                timed: date.key != date.value.end,
                id: date.id,
                status: date.value.status,
              })
            }
          })
      },
      setMonth () {
        this.type = 'month'
        this.$refs.calendar.checkChange()
      },
      viewDay ({ date }) {
        this.focus = date
        this.type = 'day'
      },
      getEventColor (event: { start: Date; end: Date; name: string; timed: boolean, id: string, status: string}) {
        switch (event.status) {
          case 'published':
            return 'primary'
          case 'cancelled':
            return 'red'
          case 'draft':
            return 'grey'
          case 'rescheduled':
            return 'orange'
          case 'archived':
            return 'grey darken-1'
          case 'imported':
            return 'primary'
          default:
            return 'primary'
        }
      },
      setToday () {
        this.focus = ''
      },
      prev () {
        this.$refs.calendar.prev()
      },
      next () {
        this.$refs.calendar.next()
      },
      editEvent ({ nativeEvent, event }) {
        this.$router.push('/edit-event/' + event.id)
        nativeEvent.stopPropagation()
      },
  },
  beforeDestroy () {
    this.dateschanges.cancel()
  }

})
</script>

<style>

</style>