<template>
  <div>
  <v-card
    elevation="0">
    <v-expansion-panels
      class="mt-3"
      elevation="0"
      :value="0"
      accordion>
      <v-expansion-panel
        v-for="(occurence, index) of occurences"
        :key="index"
         elevation="0"
        >
        <v-expansion-panel-header>
          <v-container>
            {{(new Date(occurence.range.start)).toLocaleDateString()}}
          </v-container>
          <v-btn
            :disabled="disabled"
            @click="removeOccurence(index)"
            icon>
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-card 
            class="my-3"
            elevation="0">
            <v-toolbar class="mb-3" elevation="0">
              <v-card-title>
                {{`${$t('occurence')} ${index+1}`}}
              </v-card-title>
            </v-toolbar>
            <vc-date-picker
              v-model="occurence.range"
              isRange
              mode="dateTime"
              is24hr
              :minute-increment="10">
              <template v-slot="{ inputValue, inputEvents }">
                <v-card class="d-flex mx-3">
                  <v-card max-width="250"
                    class="mr-3">
                    <v-text-field
                      :value="inputValue.start"
                      v-on="inputEvents.start"
                      prepend-icon="mdi-calendar"
                    />
                  </v-card>
                  <v-icon>mdi-arrow-right</v-icon>
                  <v-card max-width="250"
                    class="ml-3">
                    <v-text-field
                      :value="inputValue.end"
                      v-on="inputEvents.end"
                      prepend-icon="mdi-calendar"
                    />
                  </v-card>
                </v-card>
              </template>
            </vc-date-picker>
            <v-select
              prepend-icon="mdi-map-marker"
              :items="places"
              item-text="name"
              item-value="_id"
              return-object
              v-model="occurence.place"
              class="mx-3">
              <template v-slot:append-item>
                <v-divider class="mb-2"></v-divider>
                <v-list-item  @click="createPlace">
                  {{$t('create-a-new-place')}}
                </v-list-item>
              </template>
            </v-select>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-card>
  <v-btn
    :disabled="disabled"
    rounded
    elevation="1"
    @click="addEmptyOccurence" 
    class="mt-3">
    <v-icon>mdi-plus</v-icon> {{$t('add-another-occurence')}}
  </v-btn>
  </div>
</template>

<script>

export default {
    name: 'OccurencesEditor',
    props: {
      occurences: Array,
      disabled: Boolean,
    },
    data () {
      return {
        places: []
      }
    },
    created () {
      this.$pouch.allDocs({
          include_docs: true,
          startkey: 'place',
          endkey: 'place\ufff0'
        })
        .then((res) => {
          this.places = res.rows.map((row) => {
            return {
              name: row.doc.name,
              _id: row.doc._id
            }
          })
        })
    },
    mounted () {
      if (this.occurences.length === 0) {
        let today = new Date()
        today.setHours(0, 0, 0, 0)
        this.occurences.push({
          range: {
            start: new Date(today),
            end: new Date(today),
            place: null
          }
        })
      }
    },
    computed: {
      computedDateFormat (date) {
        return this.formatDate(date)
      },
    },
    methods: {
      formatDate (date) {
        if (!date) return null
        return new Date(date).toLocaleDateString()
      },
      addEmptyOccurence () {
        let today = new Date()
        today.setHours(0, 0, 0, 0)
        let place = null
        if (this.occurences.length > 0) {
          place = this.occurences[this.occurences.length - 1].place
        }

        this.occurences.push({
          range: {
            start: today,
            end: today
          },
          place: place
        })
      },
      createPlace () {
        console.log('Create Place')
      },
      removeOccurence (index) {
        this.occurences.splice(index, 1)
      },
    }
}
</script>

<style scoped>
.occurences-container {
  max-height: 300px;
  overflow-y: auto;
}
</style>