<template>
  <v-card>
    <v-card-title>
      {{place.name}}
    </v-card-title>
  </v-card>
</template>

<script lang="ts">
export default {
  props: {
    place: {
      type: Object,
      required: true,
    },
  },
}
</script>