<template>
  <v-card>
    <v-form>
      <v-text-field
        v-model="name"
        :label="$t('name')"
        ></v-text-field>
      <v-text-field
        v-model="address"
        :label="$t('address')"
        ></v-text-field>
      <v-text-field
        v-model="town"
        :label="$t('town')"
        ></v-text-field>
      <v-text-field
        v-model="zip"
        :label="$t('zip')"
        ></v-text-field>
      <v-text-field
        v-model="telephone"
        :label="$t('telephone')"
        ></v-text-field>
      <v-text-field
        v-model="website"
        :label="$t('website')"
        ></v-text-field>
    </v-form>
    <v-select
      prepend-icon="mdi-map-marker"
      :items="places"
      item-text="name"
      item-value="_id"
      return-object
      v-model="containedInPlace"
      class="mx-3">
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item  @click="createPlace">
          {{$t('create-a-new-place')}}
        </v-list-item>
      </template>
    </v-select>
    <v-btn @click="addPlace">{{$t('Add')}}</v-btn>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import { getUniqueId } from '../utils/utils'
import { required } from 'vuelidate/lib/validators'

export default Vue.extend({
  data () {
    return {
      name: '',
      address: '',
      town: '',
      zip: '',
      //latitude: 0,
      //longitude: 0,
      telephone: '',
      website: '',
      containedInPlace: '',
      //logourl: '',
      //photourl: '',
      places: []
    }
  },
  validations: {
    name: {
      required,
    },
  },
  created () {
    this.$pouch.allDocs({
      include_docs: true,
      startkey: 'place',
      endkey: 'place\ufff0'
    })
    .then((res) => {
      this.places = res.rows.map((row) => {
        return {
          name: row.doc.name,
          _id: row.doc._id
        }
      })
    })
  },
  methods: {
    async addPlace() {
      let newPlace = {
        _id: 'place:'+ await getUniqueId(this.$pouch, 'place'),
        name: this.name,
      }
      this.$pouch.put(newPlace)
      .then(res => {
        this.$router.push('/places')
      })
    },
  },
})
</script>