<template>
  <v-container>
    <v-card
      class="mx-auto mb-12 mr-12 pa-12"
      rounded
      outlined
      min-height="600"
      min-width="300">
      <v-card-title>
        {{$t('associated-resource')}}
      </v-card-title>
      <v-container>
        <v-expand-transition>
          <resource-form
            :loading="resourceAddPending"
            @registerResource="registerResource"
            @cancel="revealResourceForm = false"
            v-if="revealResourceForm"></resource-form>
        </v-expand-transition>
        <masonry
          :cols="2"
          :gutter="10"
          class="mt-3">
        <v-btn
          v-if="!revealResourceForm"
          block
          class="mb-3 primary"
          @click="revealResourceForm = true">
          {{$t('add-a-resource')}} <v-icon right>mdi-book-plus</v-icon>
        </v-btn>
        <resource-card v-for="resource in resourcesArray" :key="resource._id" :resource="resource"></resource-card>
        </masonry>
      </v-container>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import ResourceForm from './ResourceForm.vue'
import ResourceCard from './ResourceCard.vue'
import { getUniqueId } from '../utils/utils'
import ogs from 'open-graph-scraper-lite'

export default {
  props: {
    eventid: String
  },
  components: {
    ResourceForm,
    ResourceCard
  },
  data() {
    return {
      eventdocchanges: null as any,
      event: null as any,
      resourcestring: '',
      resourcesArray: [] as Array<any>,
      revealResourceForm: false,
      resourceAddPending: false,
    }
  },
  async beforeMount () {
    //watch changes to the event document
    this.event = (await this.$pouch.get(this.eventid))
    this.resourcesArray = (await this.$pouch.allDocs({
      include_docs: true,
      startkey: `${this.eventid.split(':')[1]}-resource`,
      endkey: `${this.eventid.split(':')[1]}-resource\ufff0`
    })).rows.map(doc => doc.doc)

    this.eventdocchanges = this.$pouch.changes({
      since: 'now',
      live: true,
      include_docs: true,
      doc_ids: [this.eventid]
    }).on('change', (change) => {
      console.log('Doc has changed !')
      console.log(change)
      this.event = change.doc
      if (this.resourcestring != JSON.stringify(this.event.resourceOrder)) {
        this.resourcestring = JSON.stringify(this.event.resourceOrder)
        //update resources
        this.$pouch.allDocs({
          include_docs: true,
          startkey: `${this.eventid.split(':')[1]}-resource`,
          endkey: `${this.eventid.split(':')[1]}-resource\ufff0`
        }).then((res) => {
          this.resourcesArray = res.rows.map((row) => {
            return row.doc
          })
        })
      }
    })
  },
  beforeDestroy () {
    this.eventdocchanges?.cancel()
  },
  methods: {
    async registerResource (resource: any) {
      this.resourceAddPending = true
      let fileToUpload = null as any
      let fileurl = null as unknown as string

      //get an unique id for the resource
      let resourceid = await getUniqueId(this.$pouch, this.eventid.split(':')[1] +'-resource:')

      if (resource.file) {
        fileToUpload = resource.file
        //clean the resource object from the file property
        delete resource.file
      }

      if (resource.resourcetype === 'url' && resource.url) {
        try {
          const options = { url: `${this.$store.state.kronikleserverurl}/cors/${encodeURIComponent(resource.url)}` }
          const res = await fetch(options.url)
          const text = await res.text()
          const data = await ogs({html: text})
          const { error, result } = data
          if (error) {
            console.log(error)
          } else {
            console.log(result)
            resource.urltitle = result?.ogTitle
            resource.urlimage = result?.ogImage.url
          }
        } catch (e) {
          console.log(e)
        }
      }

      //add the resource to the event document
      let newResource = {
        _id: resourceid,
        type: 'resource',
        ...resource
      }

      const response = await this.$pouch.put(newResource)
      if (fileToUpload) {
        console.log(fileToUpload)
        let fileInsertionResult = await this.$pouch.putAttachment(response.id, response.rev, {
          id: 'file',
          data: fileToUpload.file,
          type: fileToUpload.fileType
        })
        console.log(fileInsertionResult.rev)
        let resourceDoc = await this.$pouch.get(response.id)
        console.log(resourceDoc)
        await this.$pouch.put({
          ...resourceDoc,
          fileurl: this.$store.state.db.url + '/' + fileInsertionResult.id + '/file'
        })
      }
      //add the resource id to the event document
      let newEvent = {
        ...this.event,
      }
      if (!newEvent.resourceOrder) {
        newEvent.resourceOrder = {
          resources: [resourceid]
        }
      } else {
        newEvent.resourceOrder.resources.push(resourceid)
      }
      this.$pouch.put(newEvent)
        .then(() => {
          this.resourceAddPending = false
          this.revealResourceForm = false
          })
        .catch((err) => {
            console.log(err)
            this.resourceAddPending = false
        })
    },
  }
}
</script>

<style>

</style>