<template>
  <v-card  
    class="pa-6"
    outlined 
    rounded>
    <v-form>
      <file-pond
        v-if="url.length === 0"
        ref="pond"
        :label-idle="$t('drop-files-here')"
        :allow-multiple="false"
        credits="false"
        storeAsFile="true"
        @addfile="handleFilePondAdd"
      />
      <v-text-field :placeholder="$t('resource-name')" v-model="name"></v-text-field>
      <v-text-field
        v-if="!fileAdded"
        :placeholder="$t('resource-url')"
        v-model="url"></v-text-field>
      <v-textarea :placeholder="$t('resource-desc')" v-model="description"></v-textarea>
      <v-btn
        @click="registerResource"
        :loading="loading"
        :disabled="loading"
        class="primary">
          {{$t('add-a-resource')}}
      </v-btn>
      <v-btn @click="$emit('cancel')">{{$t('cancel')}}</v-btn>
    </v-form>
  </v-card>
</template>

<script lang="ts">
import vueFilePond from "vue-filepond";
import "filepond/dist/filepond.min.css";
import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type";
import FilePondPluginImagePreview from "filepond-plugin-image-preview";


// Create component
const FilePond = vueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginImagePreview,
);

export default {
  components: {
    FilePond
  },
  data () {
    return {
      name: '',
      description: '',
      url: '',
      fileAdded: false,
    }
  },
  props: {
    loading: {
      type: Boolean,
      default: false
    },
  },
  methods: {
    handleFilePondAdd () {
      if (this.$refs.pond.getFiles().length > 0) {
        this.fileAdded = true
      } else {
        this.fileAdded = false
      }
    },
    registerResource() {
      let resourcetype = 'text'
      let attachedFile = null as unknown as File
      let specificIframe = null as unknown as string
      let resourceObject = {
        name: this.name,
        description: this.description,
        resourcetype: resourcetype,
      }

      if (this.$refs.pond && this.$refs.pond.getFiles().length > 0) {
        attachedFile = this.$refs.pond.getFiles()[0]
        if (this.$refs.pond.getFiles()[0].fileType.includes('image')) {
          resourcetype = 'image'
        } else if (this.$refs.pond.getFiles()[0].file.type.includes('video')) {
          resourcetype = 'video'
        } else if (this.$refs.pond.getFiles()[0].file.type.includes('audio')) {
          resourcetype = 'audio'
        } else {
          resourcetype = 'file'
        }
      } else if (typeof this.url === 'string' && this.url.length > 0) {
        // Look for specific urls that can be handled by a specific iframe to show its content
        if (this.url.includes('youtube.com')) {
          const youtubeid = this.url.match(/^.*(youtu\.be\/|vi?\/|u\/\w\/|embed\/|\?vi?=|&vi?=)([^#&?]*).*/)[2]
          specificIframe = `<iframe v-if="focused" width="100%" height="400" src="https://www.youtube.com/embed/${youtubeid}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`
          resourcetype = 'externalwidget'
        } else if (this.url.includes('soundcloud.com')) {
          const soundcloudurl = encodeURI(this.url)
          specificIframe = `<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=${soundcloudurl}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>`
          resourcetype = 'externalwidget'
        } else {
          resourcetype = 'url'
        }
      }

      // update resourcetype
      resourceObject.resourcetype = resourcetype

      if (this.url.length > 0) {
        resourceObject.url = this.url
      }
      if (attachedFile) {
        resourceObject.file = attachedFile
      }
      if (specificIframe) {
        resourceObject.iframe = specificIframe
      }

      this.$emit('registerResource', resourceObject)
    }
  }
}
</script>

<style>

</style>