
<template>
  <v-card 
    :clickable="resource.url != undefined"
    @click="followLink"
    outlined
    rounded
    class="resource-card mb-3">
    <v-img v-if="resource.resourcetype === 'image' && resource.fileurl" :src="`${$store.state.kronikleapiurl}/api/${$store.state.user.username}/resource/${resource._id}/file`">
    </v-img>
    <div v-else-if="resource.resourcetype === 'video' && resource.fileurl">
      <video
        controls
        :src="`${$store.state.kronikleapiurl}/api/${$store.state.user.username}/resource/${resource._id}/file`"
        class="resource-card-video">
      </video>
    </div>
    <div v-else-if="resource.resourcetype === 'audio' && resource.fileurl">
      <audio
        controls
        :src="`${$store.state.kronikleapiurl}/api/${$store.state.user.username}/resource/${resource._id}/file`"
        class="resource-card-audio">
      </audio>
    </div>
    <div v-else-if="resource.resourcetype === 'externalwidget' && resource.iframe" v-html="resource.iframe">
    </div>
    <div v-else-if="resource.resourcetype === 'url'">
      <v-img v-if="resource.urlimage" :src="resource.urlimage">
      </v-img>
    </div>
    <v-card-title v-if="resource.name">
      {{ resource.name }}
    </v-card-title>
    <v-card-subtitle v-if="resource.resourcetype === 'url' && resource.urltitle">
      {{ resource.urltitle }}
    </v-card-subtitle>
    <v-card-subtitle v-if="resource.resourcetype === 'url' && resource.url">
      {{ resource.url }}
    </v-card-subtitle>
    <v-card-text v-html="resource.description">
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { PropType } from 'vue'
import { KResource } from '@/types/type'

export default {
  props: {
    resource: {
      type: Object as PropType<KResource>
    }
  },
  methods: {
    followLink() {
      if (this.resource.url) {
        const win = window.open(this.resource.url, '_blank')
        win?.focus()
      }
    }
  }
}
</script>

<style>
.resource-card-video {
  width: 100%;
}

.resource-card-audio {
  width: 100%;
}
</style>