<template>
  <div class="search-box">
    <v-autocomplete
      v-model="superevent"
      :items="supereventlistcomp"
      item-text="label"
      item-value="value"
      :search-input.sync="searchsuperevents"
      :loading="isSuperEventLoading"
      :label="$t('search-event')"
      :placeholder="$t('search-event')"
      @keypress="superevent = null"
      :no-filter="true"
      hide-no-data
      solo
      rounded
      >
    </v-autocomplete>
  </div>
</template>

<script lang="ts">
import { getClosestLocaleString, getAccentFuzzyRegex } from '../utils/utils'

export default {
  data () {
    return {
      superevent: null as any,
      supereventlist: [] as Array<any>,
      searchsuperevents: null as any,
      isSuperEventLoading: false,
    }
  },
  computed: {
    supereventlistcomp () : {value: string, label: string}[]{
      return this.supereventlist.map((e: any) => {
        return {
          value: e._id,
          label: `${(new Date(e.occurences[0].startdate)).toLocaleDateString()}\t${getClosestLocaleString(e.name, this.$i18n.locale, this.$i18n.fallbackLocale as string)}`,
        }
      })
    },
  },
  watch: {
    superevent (newVal: any) {
      if (!newVal) return
      this.$emit('selected', newVal)
      this.superevent = null
      this.searchsuperevents = null
    },
    searchsuperevents (val) {
      if (!val) return
      // We need at least 3 characters to search for
      if (val.length < 3) return
      // If there is already an item selected, we don't want to search
      if (this.superevent != null) return
      // If we are in a loading state, we don't want to search
      if (this.isSuperEventLoading) return

      this.isSuperEventLoading = true

      const regex = new RegExp(getAccentFuzzyRegex(val), 'i')

      this.$pouch.find({
        selector: {
          $or: [
            {
              _id: val,
            },
            {
              "name.fr": {
                $regex: regex,
              },
            },
          ],
        },
        limit: 15,
      }).then(res => {
        this.supereventlist = res.docs
        this.isSuperEventLoading = false
      }).catch(err => {
        this.isSuperEventLoading = false
        console.log(err)
        })
    }
  },
  methods: {
  },
}
</script>

<style>

</style>