<template>
  <v-autocomplete
    chips
    multiple
    deletable-chips
    :label="$t('tag-selector-label')"
    v-model="currentTags"
    :items="existingtags"
    :search-input.sync="currentInput"
    @change="sendUpdate">
    <template v-slot:no-data>
      <v-list-item @click="addNewTag">
        <v-list-item-content>
          <v-list-item-title>
            <v-icon>mdi-plus</v-icon>
            {{$t('add-tag') + ' ' + currentInput}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-autocomplete>
</template>

<script lang="ts">
export default {
  model: {
    prop: 'tags',
    event: 'change'
  },
  props: {
    tags: {
      type: Array,
    },
    existingtags: {
      type: Array,
    },
  },
  data () {
    return {
      currentInput: '',
      currentTags: this.tags,
      tagPool: this.existingtags,
    }
  },
  methods: {
    addNewTag () {
      this.tagPool.push(this.currentInput)
      this.currentTags.push(this.currentInput)
      this.currentInput = ''
    },
    sendUpdate (change: Array<string>) {
      this.currentTags = change
      this.$emit('change', this.currentTags)
    },
  },
  watch: {
    tags: function (val: Array<string>, oldval: Array<string>) {
      this.currentTags = val
    },
    existingtags: function (val: Array<string>, oldval: Array<string>) {
      this.tagPool = val
    },
  }
}
</script>

<style>

</style>