html {
  font-family: Jost, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
  margin: 50px;
}

.events-list {
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #2c3e5080;
}

.event {
  display: grid;
  grid-template-columns: 85% 1fr;
}
.event-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.event-right {
  background-color: #2c3e50;
  height: 80px;
  width: 100%;
  margin-top: 20px;
}
a {
  color: #2c3e50;
}

.event-sheet {
  max-width: 700px;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #2c3e5080;
}

.event-header {
  display: flex;
}

.event-header-data {
  flex: 5;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 20px;
}

.event-header img {
  flex: 2;
  width: 70%;
  object-fit: cover;
}

.event-desc-container {
  padding: 10px;
}

.occurence-row {
  display: flex;
}

.occurence-date {
  flex: 3;
}

.occurence-place {
  flex: 1;
}

.ressource-container {
  display: flex;
  flex-wrap: wrap;
}

.resource-card {
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: #2c3e5080;
  padding: 5px;
  margin: 5px;
}

.resource-media-container {
  max-height: 200px;
}

.resource-media-container iframe {
  height: 100%;
}

.resource-media-container img {
  width: 100%;
  object-fit: cover;
}

.resource-card-video {
  width: 100%;
}

.resource-card-audio {
  width: 100%;
}

/* Smartphone */
@media (max-width: 550px) {
  html {
    margin: 5px;
    margin-top: 5px;
  }
}
